<main class="listings-main">
  <div class="listings-header"><h1>숙소 수정</h1><%= link_to "상세", host_property_path(@property) %></div>
  <section class="hotel-search-box"><%= render "form" %></section>
</main>
